@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Інформаційна система для планування графіку, коштів, цілей та бажань</h2>
    <br />
    <br />
    <ul class="mailul">
        <li>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Wish" asp-action="Index">Бажання</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Chart" asp-action="Index">Графік</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Goal" asp-action="Index">Цілі</a>
        </li>
        <li>
            <a class="nav-link" asp-area="" asp-controller="Funds" asp-action="Index">Кошти</a>
        </li>
    </ul>
</div>
